*{
    margin: 0;
    border: 0;
    padding:0 ;
}
.card{
   
}
.card:hover{
    box-shadow:0px 0px 20px 15px lightblue;
}
.footer-nav a
{
    text-decoration:none;
}

.footer-contact a{
    text-decoration: none;
} 

/* Call Icon */


.cicon h2{
    background-color: rgb(98, 98, 245);
    color: rgb(255, 170, 13);
    font-size: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0px 0px 20px rgb(34, 255, 0);
    position:fixed;
    right:30px;
    bottom:0;
}

/* Call Icon Hover */

.cicon h2:hover{
    background-color: blue;
    color: wheat;
}

header{
    background-color: rgb(78, 78, 255);
    color: white;
    display:flex;
    justify-content: center;
}

header h4{
    display: inline;
    margin-right:30px;
}

.header-icons{
    width:100px;
    display: inline;
    
}

.navbar-nav{
    margin-left: auto;
    font-size: 20px;
}
a{
    margin-right: 20px;
   
}

.about{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
 
}


#about p{
    width:900px;
    text-align: justify;
    font-size: x-large;
}
#grade p{
    width:900px;
    text-align: justify;
    font-size: x-large;
}




.grade{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quality{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gicon{
    width: 250px;
    height: 250px;
}

.gicon h2{
    font-size: 100px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0px 0px 20px blue;
}


/* serivice */

.service{
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin-top: 50px;
}


.feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.con {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    width:500px ;
    padding: 16px;
    box-shadow: 0px 0px 10px blue;
    margin: 16px 0;
  }
  
  .con::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .con img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .con span {
    font-size: 20px;
    margin-right: 15px;
  }

  /* Animation Style */

  @import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.store-container {
  line-height:0;
  margin: 50px auto;
  width: 50%;
}
.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #0170bb 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}
.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}
.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}
#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}


  .feed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  

form{
    width: 800px;
    border: 2px solid greenyellow;
    padding: 30px;
}

.top a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-style: italic;
    font-weight: bolder;
    word-spacing: 3%;
} 


  /* Footer Page Design */

  .footer{
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }

  .footer-nav ul{
    list-style-type: none;
  }
  .footer-nav ul li a{
     font-size: 20px;
     color: black;
     line-height: 40px;
  }

  .footer-contact{
    padding: 10px;
    font-size: 20px;
  }

  @media (max-width: 500px) {
    .con {
        text-align: center;
    }
    .con img {
        margin: auto;
        float: none;
        display: block;
    }
  }



/* Labtop Screens */
@media  screen and (min-width:1000px) {
    .carousel-item img{
        width: 100%;
        height: 500px;
    }
}


/* Mobile Screen */
@media screen and (max-width:700px){
    .title{
      text-align: center;
      font-size: large;
      font-weight: bold;
    }
    .subtitle{
        font-size: larger;
    }
    #about p{
        width:350px;
        font-size: medium;
    }
    #grade p{
        width: 300px;
        font-size: 19px;
    }
    header{
        display: flex;
        line-height: 30px;
        flex-direction:column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
   
    .top h4{
    margin-right:0px;
}

  
    .quality{
        flex-direction: column;
        align-items: center;
        
    }
    .quality h4{
        text-align: center;
         
    }
    .quality .gicon{
            justify-content: center;
            align-items: center;
    }
    .gicon h2{
        margin-left: 50px;
    }
    .cicon h2{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .service{
        flex-direction: column;
        align-items: center;
    }
    .footer img{
        margin-left:50px;
        }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-nav ul li a{
        font-size: 15px;
       
     }
   
     .footer-contact{
       font-size: 15px;
     }
    
}











/* Galary */

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  

  /* Feed back */

  .form{
    width: 800px;
    height: 750px;
    margin-left:250px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    .form{
        width: 300px;
        height: 800px;
        

    }
  }
